.emailVerificationPage {
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.emailVerificationDiv {
    width: 444px;
}

.verifyEmail {
    color: #F1F2FF;
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
}

.verifyEmailDescription {
    margin: 1rem 0;
    font-size: 18px;
    color: #AFB2BF;
}

.verifyOtpInput {
    background-color: #161D29;
    width: 57.33px !important;
    height: 48px;
    border-radius: 8px;
    border: none;
    color: #F1F2FF;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 2px #FFFFFF2E;
}

.verifyemailbutton {
    width: 444px;
    height: 48px;
    background-color: #FFD60A;
    color: #000814;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    margin-top: 1rem;
    cursor: pointer;
}

.backtoLoginResentOTP {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}